<div class="row">
    <% if @neighbors %>
        <table>
            <tr>
                <th>sigs</th>
                <th>Keyid</th>
                <th>Name</th>
            </tr>
            <% @neighbors.each do |sig| %>
                <% name = Neighbor.to_name(sig) %>
                <tr>
                    <%= form_tag('/neighbors') do %>
                        <%= hidden_field_tag 'keyid', sig %>
                        <td><button type="button" type="submit" class="btn btn-info btn-xs">View Signatures</button></td>
                    <% end %>
                    <td><%= sig %></td>
                    <td><%= name %></td>
                </tr>


                <!--if @famous_people.include?(name) %>-->
                <!--<div class="col-md-4"><a href="http://en.wikipedia.org/wiki/#{Neighbor.to_name(sig)"></a></div>-->
                <!-- #else %>-->
                <!-- end -->
            <% end %>
        </table>
    <% else %>
        <p>No signatures found on public key <%= "#{params[:keyid]}" %></p>
    <% end %>
</div>