<!DOCTYPE html>
<html>
<head>
  <title>PGP Neighbors</title>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/"><img src="http://ddbjb4uml6c1t.cloudfront.net/spider.png"></a><h2><%= t(:title) %></h2>
<div id="wrap">
    <div id="main" class="container clear-top">
        <%= yield %>
    </div>
</div>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>

<footer class="footer"><%= form_tag('users')%>
                    <%= label_tag(:email, t('email')) %>
                    <%= text_field_tag(:email)%>
                    <%= submit_tag(t('signup')) %>
<div class="i18n">
    <a href="/?locale=en"><img src="assets/en.png"></a><a href="/?locale=ru"><img src="assets/ru.ico"></a><br>
    <a href="/about">About</a>
</div>
</footer>
</body>
</html>
